@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.correct-gradient {
  box-shadow: 0px 0px 10px 2px rgba(104, 164, 255, 0.65);
}

.incorrect-gradient {
  box-shadow: 0px 0px 10px 2px rgba(253, 95, 138, 0.65);
}

body {
  background-color: #3A383D;
}